In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
number = [1, 2, 3, 4, 5]
type(number)

list

In [3]:
number = np.array(number)
type(number)

numpy.ndarray

In [4]:
person = [{'name':'Ali', 'age':3},
          {'name':'Amir', 'age':49}
          ]
type(person)

list

In [5]:
df = pd.DataFrame(person)
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

   name  age
0   Ali    3
1  Amir   49